.navbar {
  background-color: var(--color-primary);
  box-shadow: var(--shadows-1);
}

.navbar-brand h2 {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-style: italic;
}

.nav-link {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.active, .nav-link:hover {
  border-bottom: 2px solid var(--color-secondary);
}

.dropdown-menu {
  top: 51px;
  background-color: var(--color-primary-light);
  box-shadow: var(--shadows-1);
}

.dropdown-item:hover {
  color: white;
  background-color: var(--color-primary-dark);
}