.card {
  box-shadow: var(--shadows-2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: var(--shadows-3);
}

.listButton::after {
  content: ' \25B2';
  font-size: 80%;
}

.collapsed::after {
  content: ' \25BC';
}

.products-list {
  border-top: 0;
  background-color: transparent;
}

/* Draggable*/

.drag-border {
  border: var(--color-primary) dashed 2px !important;
}

.drag-handle {
  cursor: move; 
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-handle:active { 
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
  border: var(--color-secondary-dark) dashed 2px !important;
}

.drag-over-border {
  border: var(--color-secondary) dashed 2px !important;
}

.drag-transit {
  border: var(--primary) dashed 2px !important;
}