<div *ngIf="!hasCategoryErrors || !hasAddressErrors || !hasDeliveryErrors; else errorTemplate">
  <div class="card card-shadows mx-4">
    <div class="card-body">
      <h2 class="card-title mb-4">Gestione configurazione PizzaLab</h2>
      <div>
        <div class="form-group row">
          <h5 class="col-sm-3">Consegne</h5>
          <div *ngIf="!hasDeliveryErrors; else errorDeliveryTemplate" class="col border rounded p-3 mx-3">
            <div class="form-group row">
              <label for="start" class="col-sm-4 col-form-label">Orario inizio consegne</label>
              <div class="col-sm-8">
                <input type="time" id="start" [(ngModel)]="minHour" class="form-control text-center" [class.is-invalid]="!validateTime()" [readonly]="!editTimes">
                <span *ngIf="!validateTime()" class="text-small text-danger">L'ora di inizio consegne non è compatibile con l'ora di fine</span>
              </div>
            </div>
            <div class="form-group row">
              <label for="end" class="col-sm-4 col-form-label">Orario fine consegne</label>
              <div class="col-sm-8">
                <input type="time" id="end" [(ngModel)]="maxHour" class="form-control text-center" [class.is-invalid]="!validateTime()" [readonly]="!editTimes">
                <span *ngIf="!validateTime()" class="text-small text-danger">L'ora di fine consegne non è compatibile con l'ora di inizio</span>
              </div>
            </div>
            <div class="form-group row">
              <label for="step" class="col-sm-4 col-form-label">Intervallo consegne (min) </label>
              <div class="col-sm-8">
                <input type="number" id="step" min="1" max="60" [(ngModel)]="deliveryStep" class="form-control text-center" [class.is-invalid]="!validateStep()" [readonly]="!editTimes">
                <span *ngIf="!validateStep()" class="text-small text-danger">L'intervallo tra le consegne deve essere compreso tra 1 e 60 minuti</span>
              </div>
            </div>
            <button *ngIf="!editTimes" type="button" class="btn btn-outline btn-outline-primary float-right" (click)="editTimes = true">MODIFICA</button>
            <div *ngIf="editTimes" class="float-right">
              <button type="button" class="btn btn-outline-danger btn-outline btn-outline-abort" (click)="abortEditTimes()">ANNULLA</button>
              <button type="button" class="btn btn-success btn-fill btn-fill-confirm ml-3" (click)="saveEditTimes()" [disabled]="!validateTime()">SALVA</button>
            </div>
          </div>
          <ng-template #errorDeliveryTemplate>
            <div class="col-sm-9">
              <app-error [errorMsg]="errorMsgDelivery"></app-error>
            </div>
          </ng-template>
        </div>
        <div class="form-group row">
          <h5 class="col-sm-3">Indirizzo pizzeria</h5>
          <div class="col-sm-9">
            <div *ngIf="!hasAddressErrors; else errorAddressTemplate" class="d-flex">
              <input #searchAddress type="text" class="form-control flex-grow-1 mr-3" id="address" placeholder="Indirizzo pizzeria" value="{{baseAddress ? baseAddress.name : ''}}" [readonly]="!editAddress">
              <button *ngIf="!editAddress" type="button" class="btn btn-outline btn-outline-primary float-right" (click)="editAddress = true">MODIFICA</button>
              <div *ngIf="editAddress" class="d-flex">
                <button type="button" class="btn btn-outline-danger btn-outline btn-outline-abort" (click)="abortEditAddress()">ANNULLA</button>
                <button type="button" class="btn btn-success btn-fill btn-fill-confirm ml-3" (click)="saveEditAddress()" [disabled]="!searchAddress.value ||!autocomplete.getPlace()">SALVA</button>
              </div>
            </div>
            <ng-template #errorAddressTemplate>
              <app-error [errorMsg]="errorMsgAddress"></app-error>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <h5 class="col-sm-3">Categorie</h5>
        <div *ngIf="!hasCategoryErrors; else errorCategoryTemplate" class="col-sm-9">
          <div class="d-flex flex-wrap align-items-center" id="categories">
            <div *ngFor="let category of categories" class="border rounded list-group-item-action d-flex flex-fill align-items-center align-self-center justify-content-between mr-3 mb-3 p-3 w-auto">
              <span class="mr-3">{{category.name}}</span>
              <i class="material-icons hiddenButton" id="removeBtn" data-toggle="modal" data-target="#deleteCategoryModal" (click)="onSelect(category.id)"> delete </i> 
            </div>
          </div>
          <button type="button" class="btn btn-success btn-fill btn-fill-confirm d-flex float-right" id="addProductBtn" data-toggle="modal" data-target="#addCategoryModal">
            <i class="material-icons align-bottom position-relative">add</i>
            <span class="align-self-end pr-1">AGGIUNGI CATEGORIA</span>
          </button>
        </div>
        <ng-template #errorCategoryTemplate>
          <div class="col-sm-9">
            <app-error [errorMsg]="errorMsgCategory"></app-error>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  
  <div class="modal modal-secondary fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCategoryModal">Aggiungi una categoria</h5>
          <button #addClose type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addForm" id="addCategoryForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <label for="name" class="col-sm-3 col-form-label">Nome</label>
              <div class="col-sm-9">
                <input #name type="text" [class.is-invalid]="usedName(name.value) || !validateName(name.value)" class="form-control" id="name" placeholder="Nome categoria" formControlName="name">
                <span *ngIf="usedName(name.value)" class="text-danger">Esiste già una categoria con quel nome!</span>
                <span *ngIf="!validateName(name.value)" class="text-danger">Nome inserito non valido</span>
              </div>
            </div>
            <div class="form-group row">
              <span class="col-sm-3">Immagine</span>
              <div class="col-sm-9">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="img" (change)="fileInput($event)" required>
                  <label class="custom-file-label" for="img">
                    <span *ngIf="!fileName; else elseTemplate">
                      Seleziona immagine
                    </span>
                    <ng-template #elseTemplate>
                      {{fileName}}
                    </ng-template>
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-danger btn-outline btn-outline-abort" (click)="addForm.reset()" data-dismiss="modal">ANNULLA</button>
          <button type="submit" form="addCategoryForm" class="btn btn-success btn-fill btn-fill-confirm" [disabled]="addForm.invalid || usedName(name.value) || !fileName || !validateName(name.value)">CONFERMA</button>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="selectedCategory" class="modal modal-primary fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCategoryModal">Elimina categoria</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Sei sicuro di voler rimuovere la categoria {{selectedCategory.name}}? Tutti i prodotti di tale categoria verranno eliminati.
          <br>
          L'operazione è irreversibile.
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-danger btn-outline btn-outline-abort" data-dismiss="modal">ANNULLA</button>
          <button type="submit" form="editPizzaForm" class="btn btn-success btn-fill btn-fill-confirm" (click)="deleteCategory(selectedCategory)" data-dismiss="modal">CONFERMA</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #errorTemplate>
  <div class="container">
    <app-error [errorMsg]="errorMsg"></app-error>
  </div>
</ng-template>
  