<div class="card">
  <div class="card-body">
    <h5 class="card-title">Ordine</h5>
    <p class="card-subtitle">Totale: <span class="float-right">{{getTotal()}} €</span></p>
  </div>
  <ul class="list-group list-group-flush">
      <ng-container *ngIf="product; else noElements">
        <li *ngFor="let product of products" class="list-group-item">product.name</li>
      </ng-container>
      <ng-template #noElements>
        <li class="list-group-item text-muted">Nessun prodotto aggiunto all'ordine.</li>
      </ng-template>
  </ul>
  <div class="card-footer">
    <a href="#" class="btn btn-outline-abort">Annulla</a>
    <a href="#" class="btn btn-outline-confirm float-right">Conferma</a>
  </div>
</div>