.card {
  height: 85vh;
  box-shadow: var(--shadows-2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: var(--shadows-3);
}

.card-body {
  flex: 0;
}

.list-group {
  height: 100%;
  overflow: auto;
}

.remove::after {
  content: 'remove_circle_outline';
}

.remove {
  color: var(--color-primary-dark);
  font-size: 115%;
}

.remove:hover::after {
  content: "remove_circle";
}

.add::after {
  content: 'add_circle_outline';
}

.add {
  color: var(--color-secondary-dark);
  font-size: 115%;
}

.add:hover::after {
  content: "add_circle";
}

.card-footer {
  border: 0;
  background-color: white;
}