.card {
  height: 85vh;
}

.card-body {
  flex: 0;
}

.list-group {
  height: 100%;
  overflow: auto;
}

.remove::after {
  content: 'remove_circle_outline';
}

.remove {
  color: var(--color-primary-dark);
  font-size: 120%;
}

.remove:hover::after {
  content: "remove_circle";
}

.add::after {
  content: 'add_circle_outline';
}

.add {
  color: var(--color-secondary-dark);
  font-size: 120%;
}

.add:hover::after {
  content: "add_circle";
}