.category-card {
  box-shadow: var(--shadows-2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: 0;
}

.category-card:hover {
  box-shadow: var(--shadows-3);
}

.card-img-top {
  max-height: 6em;
  object-fit: cover;
  object-position: center 42.5%;
  filter: blur(1px);
  transition: all 0.3s ease-in-out;
}

.category-card:hover .card-img-top {
  filter: blur(0);
}

.product-card {
  border-color: var(--color-secondary-dark);
}

.product-card:hover {
  background-color: var(--color-secondary-light);
  cursor: pointer;
}