<div *ngIf="!hasErrors; else errorTemplate" class="container-fluid">
  <div class="row">
    <div class="col-9 product-list">
      <div class="grid">
        <app-product *ngFor="let category of categories" [(currentOrder)]="currentOrder" (removedProduct)="removeProduct($event)" [category]="category"></app-product>
      </div>
    </div>
    <div class="col-3 pl-1">
      <app-current-order [(currentOrder)]="currentOrder" [categories]="categories"></app-current-order>
    </div>
  </div>
</div>

<ng-template #errorTemplate>
  <div class="container">
    <app-error [errorMsg]="errorMsg"></app-error>
  </div>
</ng-template>
