body {
  font-family: 'Roboto';
  padding-top: 66px;
  background: url('/src/assets/img/pizza-bg.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
}

:root {
  --color-primary: #ff3d00;
  --color-primary-light: #ff7539; 
  --color-primary-dark: #c30000;
  --color-secondary: #76ff03;
  --color-secondary-light: #b0ff57;
  --color-secondary-dark: #1faa00; 
  --shadows-0: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --shadows-1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --shadows-2: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --shadows-3: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-shadows {
  box-shadow: var(--shadows-2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-shadows:hover {
  box-shadow: var(--shadows-3);
}

.btn-outline {
  font-weight: bold;
  font-size: 85%;
  background-color: transparent;
  border-color: rgb(200, 200, 200);
}

.btn-outline:hover:enabled {
  box-shadow: var(--shadows-0);
}

.btn-outline:disabled {
  color: rgb(170, 170, 170);
  opacity: 0.85;
}

.btn-outline:disabled:hover {
  border-color: rgb(200, 200, 200);
}

.btn-outline-abort {
  color: var(--color-primary-dark);
}

.btn-outline-abort:hover:enabled {
  color: white;
  background-color: var(--color-primary-dark);
}

.btn-outline-confirm {
  color: var(--color-secondary-dark);
}

.btn-outline-confirm:hover:enabled {
  color: white;
  background-color: var(--color-secondary-dark);
}

.btn-fill {
  font-weight: bold;
  font-size: 85%;
  color: white;
  box-shadow: var(--shadows-0);
}

.btn-fill:hover {
  box-shadow: var(--shadows-1);
}

.btn-fill:disabled {
  color: gray;
  background-color:lightgray;
  border-color: lightgray;
  box-shadow: none;
}

.btn-fill:disabled:hover {
  color: gray;
  background-color:lightgray;
  border-color: lightgray;
  box-shadow: none;
}

.btn-fill-abort {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}

.btn-fill-abort:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-fill-confirm {
  background-color: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);
}

.btn-fill-confirm:hover {
  background-color: rgb(36, 199, 0);
  border-color: rgb(36, 199, 0);
}

.pagination .ngx-pagination {
  padding: 0;
}

.pagination .ngx-pagination .current {
  border-radius: 3px;
  background-color: #76ff03;
  color: black;
}

.pagination .ngx-pagination a:hover {
  background-color: #b0ff57 !important;
  border-radius: 3px;
  text-decoration: none;
}

.pagination ul {
  margin: 0;
}