.card {
  box-shadow: var(--shadows-2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: var(--shadows-3);
}

.clear-icon {
  position: absolute;
  font-size: 100%;
  top: 7px;
  right: 55px;
  z-index: 999;
  padding: 0.3em;
  color: #495057;
}

.clear-icon:hover{
  cursor: pointer;
  background-color: #e9ecef;
  border-radius: 50px;
}

.w-5 {
  width: 5%;
}

.w-7 {
  width: 7.5%;
}

.w-12 {
  width: 12.5%;
}

thead th {
  border-top: 0;
}

.hiddenButton {
  display: none;
}

tbody tr:hover .hiddenButton {
  display: block;
  cursor: pointer;
}

#removeBtn:hover {
  color: var(--color-primary-dark);
}

#addProductBtn {
  max-width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 15px;
  border-radius: 50px;
  box-shadow: var(--shadows-2);
  transition: all 0.3s ease-in-out;
}

#addProductBtn span {
  font-size: 110%;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#addProductBtn:hover {
  box-shadow: var(--shadows-3);
  max-width: 17em;
}

#addProductBtn:hover span {
  opacity: 1;
}

.modal-content {
  border: 0;
  box-shadow: var(--shadows-2);
}

#addProductModal .modal-header {
  background-color: var(--color-secondary-dark);
  color: white;
}

#deleteProductModal .modal-header {
  background-color: var(--color-primary-dark);
  color: white;
}